In [13]:
#!pip install boto3

In [1]:
import boto3
import pandas as pd
import configparser
import s3fs

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY = config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')

s3 = s3fs.S3FileSystem(key=KEY, secret = SECRET)

In [7]:
s3.ls('s3a://udacity-dend/log_data/2018/11/')[0:5]

['udacity-dend/log_data/2018/11/2018-11-01-events.json',
 'udacity-dend/log_data/2018/11/2018-11-02-events.json',
 'udacity-dend/log_data/2018/11/2018-11-03-events.json',
 'udacity-dend/log_data/2018/11/2018-11-04-events.json',
 'udacity-dend/log_data/2018/11/2018-11-05-events.json']

In [12]:
data = pd.read_json('s3a://udacity-dend/log-data/2018/11/2018-11-16-events.json', lines=True)
data.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Mudhoney,Logged In,Aleena,F,10,Kirby,231.57506,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Get Into Yours,200,1542326457796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
1,Carpenters,Logged In,Aleena,F,11,Kirby,238.39302,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Yesterday Once More,200,1542326688796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
2,None,Logged In,Aleena,F,12,Kirby,NaN,paid,"Waterloo-Cedar Falls, IA",GET,Home,1.541023e+12,637,None,200,1542326691796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44

In [11]:
s3.ls('s3a://udacity-dend/song_data/A/A/A/')[0:5]

['udacity-dend/song_data/A/A/A/TRAAAAK128F9318786.json',
 'udacity-dend/song_data/A/A/A/TRAAAAV128F421A322.json',
 'udacity-dend/song_data/A/A/A/TRAAABD128F429CF47.json',
 'udacity-dend/song_data/A/A/A/TRAAACN128F9355673.json',
 'udacity-dend/song_data/A/A/A/TRAAAEA128F935A30D.json']

In [10]:
songdata = pd.read_json('s3a://udacity-dend/song_data/A/A/A/TRAAAAK128F9318786.json', lines=True)
songdata

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARJNIUY12298900C91,NaN,,NaN,Adelitas Way,213.9424,1,SOBLFFE12AF72AA5BA,Scream,2009